.shared_windows_runners:
  tags:
    - shared-windows
    - windows
    - windows-1809
  before_script:
    - choco feature enable -n allowGlobalConfirmation
    - choco upgrade dotnet-sdk --version=6.0.101 -y

stages:
  - build
  - test
  - release
  - distribute



build:
  extends:
    - .shared_windows_runners
  stage: build
  script:
    - choco install python --version=3.10.2 -y
    - $env:PATH+=";C:\Python310;C:\Python10\Scripts" # add to PATH without restart
    - python ./setup_config.py
    - cd Notes-Desktop
    - dotnet build
    - dotnet publish -r win-x64 -c Release --no-self-contained
  artifacts:
    expire_in: 1 hour
    paths:
      - Notes-Desktop/bin
      - Notes-Desktop/obj

test:
  extends:
    - .shared_windows_runners
  dependencies:
    - build
  stage: test
  script:
    - cd Notes-Desktop
    - dotnet test

release:
  dependencies:
    - build
  stage: release
  script:
    - pushd Notes-Desktop/bin/Release/net6.0-windows/win-x64/publish/
    - zip -r ./release.zip .
    - popd
    - mv Notes-Desktop/bin/Release/net6.0-windows/win-x64/publish/release.zip ./release.zip
  artifacts:
    expire_in: 1 day
    paths:
      - ./release.zip

distribute:
  image: node:4.2.2
  dependencies:
    - release
  stage: distribute
  before_script:
    - npm install -g appcenter-cli
  script:
    - appcenter distribute release -f .\release.zip --group "Public" --build-version $(date +%s) --release-notes-file .\changelist.md
